<%- include('../partials/head'); %>


  <div class="mx-auto mt-50" style="margin-top: 40px; max-width: 60%;">
    <a href="/addproduct">
      <button type="button" class="btn btn-success mb-4">Adicionar produto</button>
    </a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">cod</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço Unit</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<findProduct.length; i++) {%>
          <tr>
            <td scope="row">
              <%= findProduct[i].id %>
            </td>
            <td>
              <%= findProduct[i].code%>
            </td>
            <td>
              <%= findProduct[i].name%>
            </td>
            <td>
              R$ <%= findProduct[i].price%>
            </td>
            <td>
              <%= findProduct[i].quantidade%>
            </td>
            <td>
              <a href="/editproduct/<%= findProduct[i].id %>">
                <button type="button" class="btn btn-primary">Editar</button>
              </a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer'); %>