<%- include('../partials/head'); %>


  <div class="mx-auto mt-50" style="margin-top: 40px; max-width: 80%;">
    <a href="/dashboard">
      <button type="button" class="btn btn-success mb-4">voltar</button>
    </a><br />
    <div class="d-flex align-items-center mb-5">
      <div style="margin-right: 20px">
        <h6>Status</h6>
      </div> <br />
      <button type="button" class="btn btn-danger  mr-5" style="margin-right: 10px;">
        Sem Estoque <span class="badge badge-light"></span>
      </button>
      <button type="button" class="btn btn-warning ">
        Reposição necessaria <span class="badge badge-light"></span>
      </button>
      <button type="button" class="btn " style="background: #44CEBC; margin-left: 10px">
        Com Estoque <span class="badge badge-light"></span>
      </button>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">cod</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço Unit</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Quantidade Min.</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<findProduct.length; i++) {%>
          <tr>
            <td>
              <%= findProduct[i].code%>
            </td>
            <td>
              <%= findProduct[i].name%>
            </td>
            <td>
              R$ <%= findProduct[i].price%>
            </td>
            <td>
              <%= findProduct[i].quantidade%>
            </td>
            <td>
              <%= findProduct[i].quantidademinima%>
            </td>
            <% if(findProduct[i].quantidade < findProduct[i].quantidademinima && findProduct[i].quantidade !==0 ) { %>
              <td style="background: #FFCA2C">
              </td>
              <% } else if(findProduct[i].quantidade===0) { %>
                <td style="background: #BB2D3B ">
                </td>
                <% } else if(findProduct[i].quantidade> findProduct[i].quantidademinima || findProduct[i].quantidade ===
                  findProduct[i].quantidademinima) { %>
                  <td style="background: #44CEBC ">
                  </td>
                  <% } %>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer'); %>